@import './variable.scss';
@import './inheritance.scss';

// Global
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: $contrast-color;
}

#content {
  background: $light-grey-color;
}

// Sign In Up Page
.sign-in-up__main {
  @extend .justify-align-center;
  height: 100vh;
}

.sign-in-up__input {
  width: 400px;
  height: 44px;
  border: 1px solid $secondary-color;
  background: transparent;
  padding: 10px;
  font-size: $font-size-regular;
  color: $dark-grey-color;
}

.sign-in-up__container {
  @extend .justify-center;
}

.add-button {
  @extend .button;
  background-color: $purple-color;
}

.sign-in-up__text {
  margin-bottom: 24px;
}

.add-button.sign-in-up__btn {
  margin-top: 64px;
}

// Add To Do page

.add-todo__main {
  height: 100vh;
}
.add-todo__container {
  padding: 56px;
}
.add-todo__Inner {
  display: grid;
  grid-template-columns: 50vw auto;
  margin-top: 42px;
}

.add-todo__btn {
  width: 256px;
  height: 44px;
  margin-left: auto;
}

.add-todo__title {
  margin: 0;
  font-size: $font-size-big;
  color: $primary-color;
}

// // Modal

.add-todo__modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(126, 122, 122, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.add-todo__modal-content {
  background-color: $contrast-color;
  margin: auto;
  padding: 20px;
  border: none;
  width: 52.25vw;
}

.add-todo__model--text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-todo__model--date {
  margin-top: 32px;
}

.add-todo__model-input.date {
  width: 149px;
  height: 44px;
  padding-left: 10px;
}

.add-todo__model-input.date::placeholder,
.add-todo__model-input.date {
  font-size: $font-size-regular;
  color: $secondary-color;
}

.add-todo__model-input {
  width: 100%;
  height: 44px;
  background: $light-grey-color;
  border: 1px solid $secondary-color;
  font-size: $font-size-regular;
  color: $secondary-color;
  padding-left: 10px;
}

.add-todo__model-label {
  font-size: $font-size-regular;
  color: $secondary-color;
  font-weight: $font-weight-bold;
  width: 60px;
}

.add-todo__model--button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.add-todo__model-cancel {
  @extend .button;
  background: rgba(126, 122, 122, 0.5);
  box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
  border-radius: 4px;
  width: 308.5px;
  height: 44px;
  padding: 6px 58px;
}

.add-todo__model-save {
  @extend .button;
  background: $purple-color;
  box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
  border-radius: 4px;
  width: 308.5px;
  height: 44px;
  padding: 6px 58px;
}

// TO DO LIST BLOCK
.todo-list--block:not(:first-child) {
  margin-top: 42px;
}

.todo-list--block-title {
  display: flex;
  align-items: center;
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
  color: #000;
}

// TO DO ITEM
.todo__single {
  display: flex;
  flex-direction: row;
}

.todo-item__single {
  width: 44px;
  height: 44px;
  border: 1px solid $primary-color;
  display: flex;
  align-items: center;
  font-size: $font-size-regular;
  color: $secondary-color;
  justify-content: center;
  flex-shrink: 0;
}

.todo-item__single.todo--title {
  width: 100%;
  padding-left: 10px;
  justify-content: start;
}

svg {
  margin-right: 10px;
}

.completed-todo {
  color: $dark-grey-color;
}

.todo--edit-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $primary-color;
  font-size: $font-size-regular;
  color: $secondary-color;
}

img {
  width: 20px;
  height: 24px;
  padding: 14px;
}

.edited-todo {
  box-shadow: inset -4px -4px 16px rgba(39, 39, 39, 0.15),
    inset 4px 4px 16px rgba(39, 39, 39, 0.15);
}
