.button, .add-button, .add-todo__model-cancel, .add-todo__model-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 42px;
  height: 44px;
  gap: 10px;
  cursor: pointer;
  border: none;
  color: #f8f8f8;
  font-weight: 700;
  font-size: 24px;
  -webkit-box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
          box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
}

.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.justify-align-center, .sign-in-up__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-center, .sign-in-up__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

#content {
  background: #d0cad9;
}

.sign-in-up__main {
  height: 100vh;
}

.sign-in-up__input {
  width: 400px;
  height: 44px;
  border: 1px solid #272727;
  background: transparent;
  padding: 10px;
  font-size: 24px;
  color: #7e7a7a;
}

.add-button {
  background-color: #800080;
}

.sign-in-up__text {
  margin-bottom: 24px;
}

.add-button.sign-in-up__btn {
  margin-top: 64px;
}

.add-todo__main {
  height: 100vh;
}

.add-todo__container {
  padding: 56px;
}

.add-todo__Inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw auto;
      grid-template-columns: 50vw auto;
  margin-top: 42px;
}

.add-todo__btn {
  width: 256px;
  height: 44px;
  margin-left: auto;
}

.add-todo__title {
  margin: 0;
}

.add-todo__modal {
  display: none;
  padding: 40px 40px 40px 48px;
  position: fixed;
  z-index: 1;
  padding-top: 15vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.add-todo__modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 52.25vw;
}

.add-todo__model--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-todo__model--date {
  margin-top: 32px;
}

.add-todo__model-input.date {
  width: 149px;
  height: 44px;
  padding-left: 10px;
}

.add-todo__model-input.date::-webkit-input-placeholder, .add-todo__model-input.date {
  font-size: 24px;
  color: #272727;
}

.add-todo__model-input.date:-ms-input-placeholder, .add-todo__model-input.date {
  font-size: 24px;
  color: #272727;
}

.add-todo__model-input.date::-ms-input-placeholder, .add-todo__model-input.date {
  font-size: 24px;
  color: #272727;
}

.add-todo__model-input.date::placeholder, .add-todo__model-input.date {
  font-size: 24px;
  color: #272727;
}

.add-todo__model-input {
  width: 100%;
  height: 44px;
  background: #d0cad9;
  border: 1px solid #272727;
  font-size: 24px;
  color: #272727;
  padding-left: 10px;
}

.add-todo__model-label {
  font-size: 24px;
  color: #272727;
  font-weight: 700;
  width: 60px;
}

.add-todo__model--button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.add-todo__model-cancel {
  background: rgba(126, 122, 122, 0.5);
  -webkit-box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
          box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
  border-radius: 4px;
  width: 308.5px;
  height: 44px;
  padding: 6px 58px;
}

.add-todo__model-save {
  background: #800080;
  -webkit-box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
          box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
  border-radius: 4px;
  width: 308.5px;
  height: 44px;
  padding: 6px 58px;
}

.todo-list--block:not(:first-child) {
  margin-top: 42px;
}

.todo-list--block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.todo__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todo-item__single {
  width: 44px;
  height: 44px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #272727;
}

.todo-item__single.todo--title {
  width: 100%;
  padding-left: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

svg {
  width: 44px;
}

.completed-todo {
  color: #7e7a7a;
}
/*# sourceMappingURL=style.css.map */