// font size
$font-size-regular: 24px;
$font-size-big: 36px;

// font weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// colors
$primary-color: #000;
$contrast-color: #F8F8F8;
$secondary-color: #272727;
$purple-color: #800080;
$red-color: #B70000;
$dark-grey-color : #7E7A7A;
$grey-color: rgba(126, 122, 122, 0.5);;
$light-grey-color: #D0CAD9