// font size
$font-size-regular: 24px;
$font-size-big: 36px;

// font weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// colors
$primary-color: #000;
$contrast-color: #f8f8f8;
$secondary-color: #272727;
$purple-color: #800080;
$red-color: #b70000;
$dark-grey-color: #7e7a7a;
$grey-color: rgba(126, 122, 122, 0.5);
$light-grey-color: #d0cad9;

// medai query
$toMobileScreen : 750px;
$toDesktopScreen : 1250px